{% extends "poll/base.html" %}

{% block title %}Email Verification{% endblock %}

{% block content %}

    <div class="jumbotron">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <h2>Email Verification </h2>
      <form action="." method="POST">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="id_emailvote">Email:</label>
          <input type="text" name="emailvote" class="form-control" id="id_emailvote" required>
        </div>
        
        <input type="submit" class="btn btn-primary btn-sm" value="Send OTP">
      </form>
    </div>

{% endblock %}
