{% extends "poll/base.html" %}

{% block title %}DIGI-VOTE{% endblock %}

{% block content %}
<!-- <div class="jumbotron"> -->
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  
    

  <ul class="fly-in-text hidden">
    <li>W</li>
    <li>E</li>
    <li>L</li>
    <li>C</li>
    <li>O</li>
    <li>M</li>
    <li>E</li>
    <li></li>
    <li>T</li>
    <li>O</li>
    <li></li>
    <li>D</li>
    <li>I</li>
    <li>G</li>
    <li>I</li>
    <li>V</li>
    <li>O</li>
    <li>T</li>
    <li>E</li><br>
    <!-- <h3>A Smart And Secure Electoral services Portal...</h3> -->
  </ul>
  <!-- <div class="vl"></div>
  <div class="heading">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias nobis, a neque voluptas sint repellendus velit aperiam ipsum temporibus! Eos quos provident praesentium, numquam velit aut ipsam vel aperiam adipisci pariatur labore dignissimos asperiores porro?</p>
  </div>
  <button class="button" ><span>SignUp</span></button> -->

  <!-- <h1>Welcome to DigiVote</h1>
  <h3>A Smart And Secure Electoral services Portal...</h3> -->
<!-- </div> -->


{% endblock %}
